{% schema %}
  {
    "name": "t:sections.social-media.name",
    "tag": "section",
    "class": "section-social-media",
    "settings": [
      {
        "type": "url",
        "id": "instagram_link",
        "label": "t:sections.social-media.settings.instagram_link"
      }, {
        "type": "text",
        "id": "button_label",
        "label": "t:sections.social-media.settings.button_label",
        "default": "t:sections.social-media.settings.default"
      }
    ],
    "presets": [
      {
        "name": "t:sections.social-media.presets.name"
      }
    ]
  }
{% endschema %}

<div class="social-media-section">
  <div class="social-media-container">
    <div class="section-header-social">
      {% if section.settings.instagram_link != blank %}
        <a
          href="{{ section.settings.instagram_link }}"
          target="_blank"
          rel="noopener"
          class="social-link">
          {{ section.settings.button_label }}
        </a>
      {% endif %}
    </div>
  </div>
</div>

<style>
  .social-media-section {
    padding: 80px 0;
    background-color: #E6E6E6;
  }

  .social-media-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .section-header-social {
    text-align: center;
    margin-bottom: 10px;
  }

  .social-link {
    font-family: "Montserrat", sans-serif;
    display: inline-block;
    background-color: #f6455f;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    text-decoration: none;
    padding: 14px 51px;
    letter-spacing: 1px;
  }

  .social-link:hover {
    background-color: #e33b53;
  }

  @media screen and (max-width: 749px) {
    .social-media-section {
      padding: 40px 0;
    }

    .social-link {
      font-size: 16px;
    }
  }
</style>